:root{
    --color-one:#2196F3;
    --color-two:#212121;
    --color-three:#757575;
    --color-for-first-third-background:#2F303A;
    --color-for-second-background:#F5F4FA;
   
    
}
ul{
    list-style-type: none;
}
.hero-second-title-none{
    display: none;
}
body{
    font-family:"Roboto", serif;
    line-height: auto;
}
.hero-title{
    line-height:1.36;
}
.hero-button{
    line-height:1.87;
}
.hero-second-description{
    line-height:1.71;
}
.address-list-item{
    line-height:1.71;
}
.header-nav-link , .footer-link{
    font-family:"Raleway" , serif;
    
}