:root{
    --color-one:#2196F3;
    --color-two:#212121;
    --color-three:#757575;
    --color-for-first-third-background:#2F303A;
    --color-for-address: #ffffff99;
    --color-for-second-background:#F5F4FA;
    --color-for-border-inPortfolio:rgba(238, 238, 238, 1);
    --color-for-img-InFutures: rgba(245, 244, 250, 1);
    --color-for-BG-in-hero:rgba(47, 48, 58, 0.4);
    --color-fill:rgba(175, 177, 184, 1);
   --xolor-for-svg-footer: rgba(255, 255, 255, 0.1);
   --color-for-focus-form:rgba(33, 33, 33, 0.2);
   --color-for-textarea:rgba(117, 117, 117, 0.5);
   --color-for-email-input-footer:rgba(255, 255, 255, 0.6);
}


.body{
    font-family:"Roboto", serif;
}
.main-container{
    width: 1600px;
    margin: 0 auto;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 1px solid red; */
}
ul{
    list-style-type: none;
}
/* /* header ------------------------------------------------------------------------------------* */
.header > .container {
    display: flex;
    align-items: center;
}
.header{
    background-color: rgb(255, 255, 255);
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    
}
.header-nav-link , .footer-link{  
    font-family:"Raleway" , serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
}
.header-nav,.header-nav-list{
    display:flex;
    align-items: center;
}
.header-contact-list{
    display: flex; 
    /* outline: 1px solid red; */
}
.header-contact-link-email ,.header-contact-link{
    display: flex;
    gap: 10px;
    
}
.header-nav-link{
    color:var(--color-one);
    margin-right:93px;
}
.studio , .footer-studio{
    color:black;
}
.nav-list-link{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-two);
    text-decoration: none;

}
.nav-list-link-studio{
    color: var(--color-one);
    position: relative;
}
.nav-list-link-studio::after{
    content: "";
    position: absolute;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-one);
    top: 44px;
    left: 0;
}
.nav-list-link-portfolio::after{
    content: "";
    position: absolute;
    width: 75px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-one);
    top: 44px;
    left: 0;
}
.nav-list-link-portfolio{
    color: var(--color-one);
    position: relative;
}
.header-contact-link{
    width: 142px;
    height: 16px;
}
.header-nav-list .nav-list-item{
    margin-right:50px;
}
.header-nav-list .nav-list-item:last-child{
    margin-right:0px;
}
.header-nav{
    margin-right:318px;
}
.header-contact-item:hover .header-contact-link-email{
    color: var(--color-one);
    fill: var(--color-one);
}

.header-contact-link , .header-contact-link-email{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-three);
    fill: var(--color-three);
     /* animation */
    transition-property: color , fill;
    transition-duration: none;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay:none;
}
.header-contact-item:not(:last-child){
    margin-right:30px;
}
/* header -------------------------------------------------------------------------------------

/* hero */
.hero .container{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.hero{
    display: flex;  
    padding-top:200px;
    padding-bottom:200px;    
    text-align: center;
}
.overlay{
    background-color:var(--color-for-first-third-background);    
    background-image:
    linear-gradient(
        to right ,
        var(--color-for-BG-in-hero),
        var(--color-for-BG-in-hero)),
        url(../images/imageForBG.jpg); 
    background-size: cover; 
    background-position: center;  
    background-repeat: no-repeat;
}
.hero-title{
    display: flex;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color:#fff;
    width: 696px;
    padding-bottom:30px;
   
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    padding: 15px;
    background-color: white;
    transform: translate(-50%, -50%);
    padding-top: 40px;
    border-radius: 1%;
}
.hero-form-description{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-two);
    margin-bottom: 12px;
}

.modal .btn {
    position: absolute;
    top: 10px;
    right: 10px;
}
.btn{
    border-radius: 50%;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.btn:hover path {
    fill:var(--color-one);
}
.hero-button ,.hero-form-button ,.footer-container-third-list-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--color-one);
    color: white;
    padding:10px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px;
    cursor: pointer;
}
.hero-textarea{
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 120px;
    cursor: pointer;
    padding-top: 12px;
    padding-left: 16px;
    margin-bottom: 20px;
}
.hero-textarea::placeholder{
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color:var(--color-for-textarea);
}
.hero-form-checkbox-container{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
}
.hero-checkbox-span > a{
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--color-one);
}
.checkbox-label{
    margin-left: 8.38px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-three);
}
.form-container{
    position: relative;
    width: 448px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
/* .form-container:focus-within .icon-hero-svg{ */
    /* fill: var(--color-one); -???????????? */
/* } */
.hero-input{
    border-radius: 4px;
    width: 448px;
    height: 40px;
    border: 1px solid var(--color-for-focus-form);
    text-indent: 35px;
    cursor: pointer;
    
}
svg[width="18px"][height="18px"]{
    position: absolute;
    top: 25%;
    left: 12px;
}
.hero-input:focus-within ,.hero-textarea:focus-within{
    outline:1px solid var(--color-one);
    cursor: auto;
}
.hero-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-label-first , .hero-label-second , .hero-label-third , .hero-label-fourth{
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: var(--color-three);
    margin-bottom: 4px;
    
}
.hero-label-first{
    margin-right: 426px;
}
.hero-label-second{
    margin-right:398px ;
}
.hero-label-third{
    margin-right:407px;
}
.hero-label-fourth{
    margin-right:391px ;
}
.hero-button:active{
    scale: 1.1;
}
/* futures */
.futures .container{
    display: flex;
}
.futures{
    padding-top:94px;  
}
.futures-title-none{
    display: none;
}
.futures-list{
    display: flex;
    flex-direction: row;
}
.futures-item{
    margin-right:30px;
    flex-basis:270px;
}
.futures-item::before{
    margin-bottom: 30px;
    content: "";
    display: inline-block;
    background-color: var(--color-for-img-InFutures);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
}
.futures-item:nth-child(1):before{
    background-image:url(../images/antenna.svg);
}
.futures-item:nth-child(2):before{
    background-image:url(../images/clock.svg);
}
.futures-item:nth-child(3):before{
    background-image:url(../images/diagram.svg);
}
.futures-item:nth-child(4):before{
    background-image:url(../images/astronaut.svg);
}
.futures-list .futures-item{
    margin-right:0px;
}
.futures-title{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--color-two);
}
.futures-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-three);
    margin-top:10px;
    width: 300px;
}
/* activities */
.activities{
    padding-bottom:94px;
    padding-top: 94px;
}
.activities-title{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: var(--color-two);
    margin-bottom:50px;
}
.activities-description{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: white
}
.activities-container{
    width: 370px;
    height: 70px;
    background-color:rgba(47, 48, 58, 0.8);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 224px;
}
.activities-list{
    display: flex;
}
.activities-item{
    margin-right:30px;
    position: relative;
}
.activities-item:last-child{
    margin-right: 0;
}
/* team */
.team{
    padding-top:94px;
    padding-bottom:94px;
    background-color:var(--color-for-second-background)
}
.team-title{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;  
    color: var(--color-two);
    margin-bottom:50px;
}
.team-list{
    display: flex;
}
.team-img{
    margin-bottom:30px;
}
.team-description{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--color-two);
}
.team-second-item-link{
    fill: var(--color-fill);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.team-item-title{
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--color-three);
    margin-top:10px;
    margin-bottom: 16px;
}
.team-item-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.team-second-item{
    /* outline: 1px solid red; */
    border: 0px solid;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-second-item:hover .team-second-item-link{
    fill: white;
    background-color: var(--color-one);
}
.team-item{
    flex-basis: 270px;
    border-radius: 0 0 4px 4px;
    margin-right:30px;
    background-color: white;
    padding-bottom:30px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.team-list .team-item:last-child{
    margin-right: 0;
}
/* clients */
.clients{
    padding-bottom: 94px;
    padding-top: 94px;
}
.clients-title{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-two);
    margin-bottom:50px;
}
.clients-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.clients-item{
    flex-basis: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-fill);
    cursor: pointer;
    border-radius: 4px;
     /* animation */
    transition-property: border-color;
    transition-duration: none;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay:none;
}
.clients-link{
    fill: var(--color-fill);
    display: flex;
    justify-content: center;
    align-items: center;
     /* animation */
    transition-property:fill;
    transition-duration: none;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay:none;
}
.clients-item:hover .clients-link{
    fill: var(--color-one);
}
.clients-item:hover {
    border-color: var(--color-one);
}
/* footer */
.footer{
    background-color: var(--color-for-first-third-background);
    padding-top:60px;
    padding-bottom:60px;
}
.footer .container{
    display: flex;
}
.footer-container{
    margin-right: 70px;
}
.footer-container-second{
    display:flex;
    flex-direction: column;
    margin-top: 12px;
}
.footer-container-second-list{
    display: flex;
}
.footer-container-second-list-item{
    background-color:var(--xolor-for-svg-footer); 
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin-right:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container-second-list-item-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container-second-list-item{
    cursor: pointer;
}
.footer-studio{
    color: white;
}
.footer-web{
    color: var(--color-one);
}
.address-list-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: white;
    font-style: normal;
}
.footer-link{
    margin-bottom:20px;
    display: inline-flex;
}
.address-list-item-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-for-address);
    text-decoration: none;
}
.footer-container-second-list-item{
    transition-property: background-color;
    transition-duration: none;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay:none;
}
.footer-container-second-list-item:hover{
    background-color: var(--color-one);
}
.footer-address-list .address-list-item:nth-child(2){
    margin-top:9px;
}
.footer-address-list .address-list-item:nth-child(3){
    margin-top:9px;
}
.footer-container-second-list-item-link{
    fill: white;
}
.footer-email-second{
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: rgba(33, 150, 243, 0);
    caret-color: white;
    color: white;
}
.footer-container-third-list-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.footer-email-second:focus-within{
   outline:none;
}
.footer-container-third-list{
    display: flex;
    gap: 12px;
}
.footer-container-third-list-button:active{
    transform: scale(1.1);
}
.footer-email-second::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--color-for-email-input-footer);
}
.footer-container-third{
    margin-left: 93px;
    margin-top: 12px;
}
.footer-container-third-title{
   font-weight: 700;
   font-size: 14px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: white;
   margin-bottom: 20px;
}
.footer-container-second-title{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
}
/* portfolio----------------------------------------------------------- */
.portfolio{
    padding: 94px 0;
}
.noneElement-InPortfolio{
    display:none;
}
.titleForPortfolio{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-two);
}
.paragraphForPortfolio{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--color-three);
}
.buttonInPortfolio ,.firstbuttonInPortfolio{
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color:var(--color-for-first-third-background);
    border: 0px solid ;
}
.buttonInPortfolio{
    padding:6px 22px;
}
.buttonInPortfolio:active{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    background: var(--color-one);
    color: white;
}
.firstbuttonInPortfolio:active{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    background: var(--color-one);
    color:white;
}
.firstbuttonInPortfolio{
    padding:6px 25px;
}
.portfolio-button-list{
    display: flex;
    justify-content: center;
    margin-bottom:34px;
    padding-bottom:16px;
}
.portfolio-list-item:not(:last-child){
    margin-right: 8px;
}
.portfolio-card-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.card-list-item{
    flex-basis: calc((100% - 60px) / 3);
}
.card-list-item:hover{
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.text-for-card{
    border-bottom:1px solid var(--color-for-border-inPortfolio);
    border-right:1px solid var(--color-for-border-inPortfolio);
    border-left: 1px solid var(--color-for-border-inPortfolio);
    padding: 20px 24px;
}
.card-list-item:nth-child(3),.card-list-item:nth-child(6),.card-list-item:nth-child(9){
    margin-right:0px;
}
.card-list-item:nth-child(9) , .card-list-item:nth-child(8) , .card-list-item:nth-child(7){
    margin-bottom:0px;
}
.container-overlay-portfolio{
    position: relative;
    overflow: hidden;
}
.container-overlay-portfolio:hover .overlay-portfolio{
    transform: translateY(0%); 
    transition: transform 0.4s ease-in-out;
}
.overlay-portfolio{
    position: absolute;
    width: 100%;
    height: 294px;
    top: 0px;
    left: 0px;
    transform: translateY(100%);
    background-color: var(--color-one);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    transition-property:transform;
    transition-duration: none;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay:none;
}
.overlay-portfolio-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: white;
    width: 322px;
}
