:root{
    --color-one:#2196F3;
    --color-two:#212121;
    --color-three:#757575;
    --color-for-first-third-background:#2F303A;
    --color-for-address: #ffffff99;
    --color-for-second-background:#F5F4FA;
    --color-for-border-inPortfolio:rgba(238, 238, 238, 1);
    --color-for-img-InFutures: rgba(245, 244, 250, 1);
    --color-for-BG-in-hero:rgba(47, 48, 58, 0.4);
}


.body{
    font-family:"Roboto", serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 1px solid red; */
}
ul{
    list-style-type: none;
}
/* /* header ------------------------------------------------------------------------------------* */
.header > .container {
    display: flex;
    align-items: center;
}
.header{
    background-color: rgb(255, 255, 255);
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header-nav-link , .footer-link{  
    font-family:"Raleway" , serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
}
.header-nav,.header-nav-list{
    display:flex;
    align-items: center;
}
.header-contact-list{
    display: flex;
}
.header-nav-link{
    color:var(--color-one);
    margin-right:93px;
}
.studio , .footer-studio{
    color:black;
}
.nav-list-link{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-two);
    text-decoration: none;

}
.header-nav-list .nav-list-item:first-child .nav-list-link:hover {
    color: var(--color-one);
}
.header-nav-list .nav-list-item{
    margin-right:50px;
}
.header-nav-list .nav-list-item:last-child{
    margin-right:0px;
}
.header-nav{
    margin-right:344px;
}
.nav-list-link:hover{
    color: var(--color-one);
}
.header-contact-link-email:hover{
    color: var(--color-one);
}

.header-contact-link , .header-contact-link-email{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-three);
}
.header-contact-item:not(:last-child){
    margin-right:50px;
}
/* header -------------------------------------------------------------------------------------

/* hero */
.hero .container{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.hero{
    display: flex;  
    padding-top:200px;
    padding-bottom:200px;    
    text-align: center;
}
.overlay{
    background-color:var(--color-for-first-third-background);    
    background-image:
    linear-gradient(
        to right ,
        var(--color-for-BG-in-hero),
        var(--color-for-BG-in-hero)),
        url(../images/imageForBG.jpg); 
    background-size: cover; 
    background-position: center;  
    background-repeat: no-repeat;
}
.hero-title{
    display: flex;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color:#fff;
    width: 696px;
    padding-bottom:30px;
   
}
.hero-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--color-one);
    color: white;
    padding:10px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px;
}
/* futures */
.futures .container{
    display: flex;
}
.futures{
    padding-top:94px;  
}
.futures-title-none{
    display: none;
}
.futures-list{
    display: flex;
    flex-direction: row;
}
.futures-item{
    margin-right:30px;
    flex-basis:270px;
}
.futures-item::before{
    margin-bottom: 30px;
    content: "";
    display: inline-block;
    background-color: var(--color-for-img-InFutures);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
}
.futures-item:nth-child(1):before{
    background-image:url(../images/antenna.png);
}
.futures-item:nth-child(2):before{
    background-image:url(../images/clock.png);
}
.futures-item:nth-child(3):before{
    background-image:url(../images/diagram.png);
}
.futures-item:nth-child(4):before{
    background-image:url(../images/astronaut.png);
}
.futures-list .futures-item{
    margin-right:0px;
}
.futures-title{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--color-two);
}
.futures-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-three);
    margin-top:10px;
    width: 300px;
}
/* activities */
.activities{
    padding-bottom:94px;
    padding-top: 94px;
}
.activities-title{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: var(--color-two);
    margin-bottom:50px;
}
.activities-list{
    display: flex;
}
.activities-item{
    margin-right:30px;
}
.activities-item:last-child{
    margin-right: 0;
}
/* team */
.team{
    padding-top:94px;
    padding-bottom:94px;
    background-color:var(--color-for-second-background)
}
.team-title{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;  
    color: var(--color-two);
    margin-bottom:50px;
}
.team-list{
    display: flex;
}
.team-img{
    margin-bottom:30px;
}
.team-description{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--color-two);
}
.team-item-title{
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--color-three);
    margin-top:10px;
}
.team-item{
    flex-basis: 270px;
    border-radius: 0 0 4px 4px;
    margin-right:30px;
    background-color: white;
    padding-bottom:30px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.team-list .team-item:last-child{
    margin-right: 0;
}
/* footer */
.footer{
    background-color: var(--color-for-first-third-background);
    padding-top:60px;
    padding-bottom:60px;
    
}
.footer-studio{
    color: white;
}
.footer-web{
    color: var(--color-one);
}
.address-list-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: white;
    font-style: normal;
}
.footer-link{
    margin-bottom:20px;
    display: inline-flex;
}
.address-list-item-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-for-address);
    text-decoration: none;
}
.footer-address-list .address-list-item:nth-child(2){
    margin-top:9px;
}
.footer-address-list .address-list-item:nth-child(3){
    margin-top:9px;
}
/* portfolio----------------------------------------------------------- */
.portfolio{
    padding: 94px 0;
}
.noneElement-InPortfolio{
    display:none;
}
.titleForPortfolio{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-two);
}
.paragraphForPortfolio{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--color-three);
}
.buttonInPortfolio ,.firstbuttonInPortfolio{
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color:var(--color-for-first-third-background);
    border: 0px solid ;
}
.buttonInPortfolio{
    padding:6px 22px;
}
.buttonInPortfolio:active{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    background: var(--color-one);
    color: white;
}
.firstbuttonInPortfolio:active{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    background: var(--color-one);
    color:white;
}
.firstbuttonInPortfolio{
    padding:6px 25px;
}
.portfolio-button-list{
    display: flex;
    justify-content: center;
    margin-bottom:34px;
    padding-bottom:16px;
}
.portfolio-list-item:not(:last-child){
    margin-right: 8px;
}
.portfolio-card-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.card-list-item{
    flex-basis: calc((100% - 60px) / 3);
}
.card-list-item:hover{
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.text-for-card{
    border-bottom:1px solid var(--color-for-border-inPortfolio);
    border-right:1px solid var(--color-for-border-inPortfolio);
    border-left: 1px solid var(--color-for-border-inPortfolio);
    padding: 20px 24px;
}
.card-list-item:nth-child(3),.card-list-item:nth-child(6),.card-list-item:nth-child(9){
    margin-right:0px;
}
.card-list-item:nth-child(9) , .card-list-item:nth-child(8) , .card-list-item:nth-child(7){
    margin-bottom:0px;
}
